body {
    overflow: hidden;
}

body * {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

hr { flex-basis: 100%; height: 0; margin: 0; border: 0; }

:root {
    --lens-radius: 100px;
    --lens-border: 1px;
    --lens-left: 30px;
    --lens-top: 40px;
    --mouse-page-x: 0px;
    --mouse-page-y: 0px;
}

#external-container-example {
    position: absolute;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    height: 70vh;
    top: 5vh;
    left: 8vw;
    right: 20vw;
    background-color: bisque;
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: calc(100%*calc(1/7)) calc(100%*calc(1/5));
    border: 1px black;
}

#lens-container {
    position: relative;
    overflow: hidden;
    grid-row: 2 / 4;
    grid-column: 2 / 5;
    background-color: rgb(152, 152, 152);
}

#lens-outside {
    overflow: hidden;
    position: relative;
    pointer-events: none; /* none when inside content driving \ */
}

.outside-content-example {
    overflow: hidden;
    color: darkred;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: rgba(255, 0, 0, 0.5);
}

/* Position and size are calculated for inside content; do not define height, width, top, left, etc. */
#lens-inside {
    overflow: hidden;
    position: absolute;
    margin-top: calc(-1*(var(--mouse-page-y) - var(--lens-radius)));
    margin-left: calc(-1*(var(--mouse-page-x) - var(--lens-radius)));
    /* pointer-events: none; */ /* none when outside content driving \ */
}   

.inside-content-example {
    overflow: hidden;
    color: lightblue;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: rgba(0, 0, 255, 0.5);
}   

.lens {
    margin: auto;
    position: absolute;
    top: var(--lens-top);
    left: var(--lens-left);
    width: calc(2*var(--lens-radius));
    height: calc(2*var(--lens-radius));
    border-radius: calc(infinity*1px);
    overflow: hidden;
    /* pointer-events: none; */ /* none when outside content driving \ */
}

.lens-shadow {
    color: aquamarine;
    margin: calc(-1*var(--lens-border));
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: var(--lens-top); left: var(--lens-left);
    width: calc(2*var(--lens-radius));
    height: calc(2*var(--lens-radius));
    border-radius: calc(infinity*1px);
    box-shadow: inset 10px 10px 19px -4px rgba(0,0,0,0.65);
    border: var(--lens-border) solid #fffbe7;
    pointer-events: none;
  }